<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>Upload a File</h2>
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" required>
        <button type="submit">Upload</button>
    </form>

    <div id="message"></div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var form = event.target;
            var formData = new FormData(form);
            document.getElementById('message').textContent = 'Uploading.....'

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').textContent = data.message || data.error || 'Unknown error occurred';
            })
            .catch(error => {
                console.error('Error:', error.message);
                document.getElementById('message').textContent = 'An error occurred while uploading the file';
            })
            .finally(() =>{
                document.getElementById('fileInput').value = '';
            });
        });
    </script>
</body>
</html>