<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Cloud</title>
    <style>
        table {
            border-collapse: collapse; /* 合并边框 */
            border-spacing: 2px; /* 设置行列间距 */
        }

        th, td {
            padding: 8px; /* 设置单元格内边距 */
            border: 1px solid #ddd; /* 设置单元格边框 */
        }

        th {
            text-align: left; /* 表头文本左对齐 */
        }
    </style>
</head>
<body>
    <h4>File List</h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Time</th>
                <th>Operate</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td><a href="{{ file.path }}" download>{{ file.name }}</a></td>
                <td>{{ file.size }}</td>
                <td>{{ file.time }}</td>
                <td><button onclick="deleteFile('{{ file.name }}')" style="color: rgb(92, 12, 12); display: block; margin: 0 auto;">删除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Upload File</h4>
    <div id="dropArea" style="border: 2px dashed #ccc; padding: 20px;">
        <p>Drag and drop files here</p>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" style="display: none;" multiple>
        </form>
    </div>

    <div id="message"></div>

    <script>
        var dropArea = document.getElementById('dropArea');

        window.onload = function() {
            var message = localStorage.getItem('message');
            if (message) {
                document.getElementById('message').textContent = message;
                // 清除本地存储中的消息
                localStorage.removeItem('message');
            }
        };

        dropArea.addEventListener('dragover', function(event) {
            event.preventDefault();
            dropArea.style.border = '2px dashed #aaa';
        });

        dropArea.addEventListener('dragleave', function(event) {
            event.preventDefault();
            dropArea.style.border = '2px dashed #ccc';
        });

        dropArea.addEventListener('drop', function(event) {
            event.preventDefault();
            dropArea.style.border = '2px dashed #ccc';

            var maxFileCount = 5;
            var maxFileSize = 1024 * 1024 * 1024;

            var files = event.dataTransfer.files;
            if (files.length > maxFileCount) {
                alert('You can only upload up to ' + maxFileCount + ' files.');
                return;
            }
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                if (files[i].size > maxFileSize) {
                    alert('File "' + files[i].name + '" exceeds the maximum file size of 1 GB.');
                    return;
                }
                if (files[i] instanceof File) {
                    formData.append(files[i].name, files[i]);
                }
            }

            uploadFile(formData);
        });

        function uploadFile(formData) {
            document.getElementById('message').textContent = 'Uploading.....';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/uploadfile', true);
            xhr.upload.onprogress = function(e) {
                if (e.lengthComputable) {
                    var progress = (e.loaded / e.total) * 100;
                    document.getElementById('message').textContent = 'Uploading ' + progress.toFixed(2) + '%.....';
                }
            }

            xhr.onload = function(){
                if (xhr.status >= 200 && xhr.status < 300) {
                    // 上传成功处理
                    var data = JSON.parse(xhr.responseText);
                    localStorage.setItem('message', data.message || data.error || 'Unknown error occurred');
                    location.reload();
                } else {
                    console.error('Error:', xhr.status);
                    document.getElementById('message').textContent = 'An error occurred while uploading the file';
                }
            }

            xhr.onerror = function() {
                console.error('An error occurred during the upload');
                document.getElementById('message').textContent = 'An error occurred while uploading the file';
            }

            xhr.send(formData);
        }
        function deleteFile(filename) {
            var confirmDelete = confirm('确认删除 ' + filename + ' ?');
            if (!confirmDelete) {
                return;
            }

            document.getElementById('message').textContent = 'Delete.....';
            formData = new FormData()
            formData.append('filename', filename)
            fetch('/deletefile', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {
                document.getElementById('message').textContent = data.message || data.error || 'Unknown error occurred';
                if (!data.error) {
                    localStorage.setItem('message', data.message);
                    location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                document.getElementById('message').textContent = 'An error occurred while delete the file';
            })
        }
    </script>
</body>
</html>